/* Overlay background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal card */
.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 600px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;

}

#Auth_heading{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  font-weight: bol;
  font-size: 30px;
}

input[type=text], input[type=password] ,input[type=email]{
  width: 95%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.Auth_btn{
  width: 300px;
  height: 40px;
  background-color: rgb(144, 201, 144);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 45px;
  border-radius: 7px;
  font-size: large;

}
.Auth_btn:hover{
  background-color: rgb(86, 240, 86);
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 20px;       /* space between buttons */
  margin-top: 20px;
  margin-left: 0;
  justify-content: space-between;
}
